.forBorder{
	border-style: solid;
	border-width: 1px;
	height: 250px;
	margin-top: 25px;
	margin-bottom:25px;
	background-color: white;
}
#commentBox{
	border-style: solid;
	border-width: 1px;
	height: 250px;
	background-color: white;
}
.status{
	margin-bottom: 0px;
}
body{
	background-color: green;
}
